<div class="exp">
        <div class="exp_detail">
            <h1>
                Get a loan from your phone, anytime within minutes
            </h1>
            <h3>
                We make access to credit easy. 
                No guarantors, no collateral, no wahala. 
                You can apply 24/7 and receive funds in your
                account in as little as 5 minutes. 
                Unlock higher loan amounts and lower interest rates by repaying on time.
            </h3>
            <a href="">Learn more</a>
        </div>
        <div class="exp_pix">
            <img src="/img/helena-lopes-463976-unsplash.jpg" alt="">
        </div>
    </div>

    <div class="exp">
        <div class="exp_detail">
            <h1>
                Best Credit Score
            </h1>
            <h3>
                Get a higher loan for the first time.
            </h3>
            <a href="">Learn more</a>
        </div>
        <div class="exp_pix">
            <img src="/img/austin-schmid-37423-unsplash.jpg" alt="">
        </div>
    </div>

    <div class="exp">
        <div class="exp_detail">
            <h1>
                Customer support from real people
            </h1>
            <h3>
                If you ever need assistance, 
                our friendly customer service team is happy to help. 
                Contact us via email.
            </h3>
            <a href="">Contact Us</a>
        </div>
        <div class="exp_pix">
            <img src="/img/soren-astrup-jorgensen-206084-unsplash.jpg" alt="">
        </div>
    </div>