<div class="half_body">
    <div class="note">
        <h1>Unlocking the power of money for all people</h1>
        <h3>Get loans of up to ₦1000,000, quickly and securely.</h3>
    </div>
    <div class="login">
        <span class="onButtn">Get Started</span>
    </div>
</div>