<div class="reviews_sec">
        <h1>What our customers are saying...</h1>
        <div class="reviews">
            <div class="review">
                <h1>
                    ISHAQ MONSUROH
                </h1>
                <P>
                    Like seriously, REMINISCE is the best…
                    I started this year just with 7,500…just today, 
                    I got 200,000 for a business. Yet,
                    people say REMINISCE isn’t real, I bet you, it’s real. 
                    Just make sure you pay back at the right time. Then, I tell you,
                    your 1,000,000 is around the corner. Thank you so much REMINISCE.
                </P>
            </div>
            <div class="review">
                <h1>
                    Ehirim Somadina
                </h1>
                <P>
                    “@REMINISCENG you guys keep making things easy and easy, 
                    wow…The new finance manager is a great one. I was amazed to
                    what my income and expenditure looked like. 
                    Thank you REMINISCE, now I can limit my spending.”
                </P>
            </div>

            <div class="review">
                <h1>
                    Saka pepe
                </h1>
                <P>
                    To be honest you guys are the best
                </P>
            </div>
        </div>

</div>