<footer>
        <div id="connect_social">
            <i class="fab fa-facebook"> <a href="#"></a> </i>
            <i class="fab fa-twitter"> <a href="#"></a> </i>
            <i class="fab fa-linkedin"> <a href="#"></a> </i>
            <i class="fab fa-instagram"> <a href="#"></a> </i>
            <i class="fab fa-medium"> <a href="#"></a> </i>
        </div>
        <div id="links_footer">
            <div id="footer_div">
                <a href="#">About Us</a>
            </div>
            <div id="footer_div">
                <a href="#">Contact Us</a>
            </div>
            <div id="footer_div">
                <a href="#">Get Started</a>
            </div>
        </div>
        <div id="footer">
            <div>
                <a href="#">Developed By Tunde Usman</a>
            </div>
        </div>
    </footer>

</body>
</html>